

.titulo-principal {
font-family: Verdana;
color: rgba(64, 19, 122, 0.507);
font-size: 100px;
}


.tabla-info{
   border: 2px solid #000;
   background: rgb(199, 199, 199);

}
.tabla-info thead{
   background:#7f8fa6;
   color: #192a56;
    border: 2px solid #000;
}
.tabla-info thead th{
height: 30px;
min-width: 100px;
}
.tabla-info tbody tr:hover{
   background:  rgba(232, 65, 24,0.2);

}
.tabla-info tbody tr{
    border-bottom: 2px solid  rgba(232, 65, 24,1);
 
 }
.tabla-info tbody td{
height: 20px;
text-align: center;

}

.campo:invalid{
    border : 2px solid red;
    
   }
.divInputCenter {
    margin: auto;
    width: 17%;
    border: 1px solid rgb(0, 0, 0);
    padding: 7px;
  }
.divText {
    text-align: center;
      padding: 10px;
  } 
  .divInputCenterHat {
    margin: auto;
    width: 25%;
    border: 1px solid rgb(0, 0, 0);
    padding: 7px;
  }
  .divInputCenterBtn {
    margin: auto;
    width: 8%;
   
    padding: 7px;
  }
 
  table {
    border-collapse: collapse;
    width:70%;
    margin-left:auto; 
    margin-right:auto;
  }
  table thead{
   background: #192a56;
    
  }
  
  table, th, td {
    border: 1px solid black;
    padding: 7px;
    text-align: left;
    height: 20px;
  }  
 